
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
.forminput{
    display: flex;
    flex-direction: column;
  
}
.forminput>*{
    width: 40vw;
    height: 5vh;
  
    margin-top: 1.5rem;
}
.registerinpsameclass{
    outline: 0;
    border-width: 0 0 0.1rem;
    font-size:1.1rem;
    font-family: 'Nunito Sans', sans-serif;
    color:rgb(44, 33, 97);
    border-color: rgb(85, 85, 85)
}
.registerinpsameclass:focus{
    border-color: rgb(58, 49, 126);
}
.SignupFormheading{
    font-size:2.5rem;
    position: relative;
    margin-top:-1rem;
    margin-bottom:1rem;
    
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    /* text-decoration: underline;
    text-decoration-color: rgb(74, 58, 154); */
    
}
.signupsubmit{
    margin-top:2.4rem;

    background-color:rgb(74, 58, 154);
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 1.3rem;
    border-radius: 3rem;
    font-weight:900;
  
}

.signupsvgimage{
    height: 35vh;
    


}



.documentdiv{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
align-items:center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/* .Signupmaindiv2{
   
    padding:4rem 2rem;

  width:80vw;
  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius:1rem;
  display:flex;
  flex-wrap: wrap;

} */
/* .Signupmaindiv2 > *{
    flex-basis: 50%;
} */
.docsubdiv1{
    /* border: 2px solid rgb(67, 150, 188); */
    display:flex;
    align-items: center;
    justify-content: center;
    padding:3rem;
    border-radius: 2rem;
    margin-top: 20rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
margin-bottom: 5rem;
    
}


.textarea{
    height:13vh;
}
/* result page css */


.result{
    /* border: 2px solid black; */
    margin: 1rem 7rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-bottom: 5rem;
}
.headingresult{
    text-align: center;
}
.caselink{
    text-decoration: none;
    background-color: aliceblue;
   right: 2rem;
    color: blue;
    border: black;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
.caselink:hover{
    background-color: rgb(206, 226, 243);
    cursor: pointer;
}

.linktag{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}