
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
.forminput{
    display: flex;
    flex-direction: column;
  
}
.forminput>*{
    width: 30vw;
    height: 5vh;
    margin-top: 1.5rem;
}
.registerinpsameclass{
    outline: 0;
    border-width: 0 0 0.1rem;
    font-size:1.1rem;
    font-family: 'Nunito Sans', sans-serif;
    color:rgb(44, 33, 97);
    border-color: rgb(85, 85, 85)
}
.registerinpsameclass:focus{
    border-color: rgb(58, 49, 126);
}
.SignupFormheading{
    font-size:2.5rem;
    position: relative;
    margin-top:-1rem;
    margin-bottom:1rem;
    
    font-family: 'Nunito Sans', sans-serif;
    /* text-decoration: underline;
    text-decoration-color: rgb(74, 58, 154); */
    
}
.signupsubmit{
    margin-top:2.4rem;

    background-color:rgb(74, 58, 154);
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 1.3rem;
    border-radius: 3rem;
    font-weight:900;
  
}

.signupsvgimage{
    height: 35vh;
    


}



.Signupmaindiv{
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
align-items:center;
    
}
.Signupmaindiv2{
   
    padding:4rem 2rem;

  width:80vw;
  
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
border-radius:1rem;
  display:flex;
  flex-direction: row !important;
  flex-wrap: wrap;

}
.Signupmaindiv2 > *{
    flex-basis: 50%;
}
.SignupSubdiv1{
    /* border: 2px solid rgb(67, 150, 188); */
    display:flex;
    align-items: center;
    justify-content: center;
}
.SignupSubdiv2{
    /* border: 2px solid rgb(71, 132, 160); */
    display:flex;
    justify-content: center;
    align-items: center;
}